
<h2>Message number : {{message?.id}}</h2>




<div>
  message body : {{message?.body}}
</div>
<div>
  message user id : {{message?.user_id}}
</div>
<div>
  message created at : {{message?.created_at}}
</div>
<div>
  message uptaded at : {{message?.uptaded_at}}
</div>
<div>
  message image : {{message?.image_url}}
</div>
