<messagesform (addMessage)="optimisticAdd($event)" (addMessagePs) ="pessimisticAdd()" ></messagesform>

<h2>
  List of messages!
</h2>

<ul class="list-group">
     <li class="list-group-item" *ngFor = "let key of messagesKeys">
       <button   class = "bth btn-primary" (click) = "deleteMessage(key)"> delete </button>
         <button   class = "bth btn-primary" [routerLink] = "['/messageform', key]"> update </button>
      
     
     
     <a [routerLink]= "['/message',key]"> {{'message number ' +' '+ key +' :'+ messages[key].body+ ' '+ 'user_id:' + ' '+ messages[key].user_id }}</a>

     </li>
     
 </ul>
