<form [formGroup]="loginform" (ngSubmit) = "login()">
      <div>
          user name:
        <label for ="user"></label>
        <input type="text" name="user" id="user" class="form-control"    formControlName="user"   >

      </div>
          <div>
              password:
              <label for ="password"></label>
                  <input type="text" name="password" id="password" class="form-control"  formControlName="password"  >

          </div>
<div *ngIf="invalid"  class="alert alert-danger">

 login faild , inavalid user or password
</div>


<input type="submit"  value="login"  class="btn ntn-primary">






</form>

<div>  

    <button (click)="logout()">logout </button>
</div>